.login-header{
    font-size:18px !important;
}

.btn{
    margin-top: 15px;
}

.apple-btn{
    background-color: #fff !important;
    color:#000 !important;
}

.google-btn{
    background-color: red !important;
}

.ph-btn{
    background-color:white !important;
    color: #000 !important;
    border: 1px solid black !important;
}
label{
    display:block;
    text-align: left;
}

input{
    width:80%;
    padding: 12px 35px;
    font-size: 14px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.sign-up-btn{
    margin-top: 20px;
}